/* ------------ messages -------------- */
.flash {
    padding: 20px;
    font-weight: bold;
    font-size: 1.4rem;
    margin: 1rem 0;
    border-radius: 5px;
    color: #132135;
}

.flash-warning {
    background-color: orangered;
}

.flash-success {
    background-color: chartreuse;
}

/* ------------ Se connecter -------------- */

.largeurSeConnecter {
    max-width: 600px ;
    margin-left: auto;
    margin-right: auto;
}


/* ------------ Accueil -------------- */

.nav {
    font-size: large;
    font-weight: 700;
}

.infosAccueil {
    font-weight: bold;
}

.largeurInfosAccueil {
    width: 500px ;
}

div {
    margin-bottom: 10px;
}

.filtreLabel {
    width: 150px;
    font-weight: bold;
}

.filtreImput {
     width: 200px;
     padding: 8px;
     border-radius: 4px;
     border: 1px solid #ccc;
 }

.filtreLabelDate1 {
    width: 50px;
    font-weight: bold;
}

.filtreLabelDate2 {
    margin-left: 10px;
    margin-right: 10px;
    width: 20px;
    font-weight: bold;
}
select,
input[type="search"] {
    width: 200px;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
}


input[type="date"] {
    width: 125px;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
}


.filtreImputDate {
    width: 125px;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.filtreSelect {
    width: 200px;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.imputCheckbox {
    margin-right: 5px;
    vertical-align: middle;
}

.btnAction {
    width: 80px;
    margin: 2px;
    padding: 2px;
}

.btnInscription{
    width: 116px;
    margin: 2px;
    padding: 2px;
}

.h2perso{
    margin-top: 100px;
}


/* -----------Détails sortie ----------- */

.largeurInfosSortie {
    width: 200px;
    font-weight: bold;
}

.tableauSortie {
    width: 450px;
    border: #FFFFFF;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}


#logo{
    height: 50px;
}

.detailsProfil {
    font-size: large;
}


.center{
    margin-left: auto;
    margin-right: auto;
}

/* ------- Mon Profil ---------*/
.largeurProfil{
    width: 350px;
    /*margin-left: auto;*/
    /*margin-right: auto;*/
}

.profil label{
    width: 150px;
    font-weight: bold;
}

.profil input{
    width: 200px;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
}


.annulerProfil{
    /*margin-left: 160px;*/
}

/* ------- Modifier sortie ---------*/
.largeurUpdate {
    width: 420px;
}

.modifierSortie label{
    width: 200px;
    font-weight: bold;
    vertical-align: auto;
}

.modifierSortie input{
    width: 200px;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.modifierSortie select {
    width: 200px;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
}



.modifierSortie textarea {
    width: 200px;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.tablePerso {
    max-height: 500px;
}

.nav-link{
    color: #1d85ce;
}

.nav-link:hover {
    color: #ec841e;
}

.image{
    width: 250px;
}



.btn-primary {
    background-color: #1d85ce;
    border: #1d85ce;
}

.btn-primary:hover{
    background-color: #1f78d2;
    /*font-weight: bold;*/

}

.btn-danger {
    background-color: #ff4f4f;
    border: #ff4f4f;
}

.btn-danger:hover {
    background-color: #d24141;
    /*font-weight: bold;*/
}

.btn-warning {
    background-color: #ffad43;
    border: #ffad43;
}

.btn-warning:hover {
    background-color: #e0912a;
    /*font-weight: bold;*/
}